In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [6]:
# Create our features
X = df.copy()
X.drop(columns=['loan_status'], axis=1, inplace=True)
X = pd.get_dummies(X, drop_first=True)

# Create our target
y = df.loan_status

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_w,next_pymnt_d_May-2019,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.526309,0.106747,0.357659,0.373992,0.148001,0.451066,0.177238,0.876121,0.616839,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.499311,0.308793,0.479314,0.483865,0.355104,0.497603,0.381873,0.329446,0.486161,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X.shape

(68817, 86)

In [10]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [11]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [12]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [14]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.7952749878127883

In [15]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   62,    25],
       [ 2090, 15028]], dtype=int64)

In [16]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.71      0.88      0.06      0.79      0.62        87
   low_risk       1.00      0.88      0.71      0.93      0.79      0.64     17118

avg / total       0.99      0.88      0.71      0.93      0.79      0.64     17205

In [17]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
importances_sorted = sorted(zip(importances, X.columns), reverse=True)
importances_sorted

[(0.07879500304736044, 'total_rec_prncp'),
 (0.06829645652825876, 'total_rec_int'),
 (0.06332331273002255, 'total_pymnt_inv'),
 (0.060702719175672847, 'total_pymnt'),
 (0.04832507175020008, 'last_pymnt_amnt'),
 (0.03000950634504879, 'int_rate'),
 (0.019434519122300684, 'mths_since_recent_inq'),
 (0.019336147557062193, 'dti'),
 (0.01830260141700211, 'installment'),
 (0.01810687139169386, 'issue_d_Jan-2019'),
 (0.017868317243972903, 'out_prncp_inv'),
 (0.017744481092540076, 'out_prncp'),
 (0.017266674348851853, 'mo_sin_old_rev_tl_op'),
 (0.017100709715639754, 'annual_inc'),
 (0.016525686456290593, 'max_bal_bc'),
 (0.01615940678387423, 'tot_cur_bal'),
 (0.016086658185768037, 'total_bc_limit'),
 (0.015465081854338305, 'il_util'),
 (0.015295210530466636, 'tot_hi_cred_lim'),
 (0.01513099875341602, 'bc_util'),
 (0.014208860445959953, 'revol_bal'),
 (0.014131229400594334, 'avg_cur_bal'),
 (0.01323256898112484, 'loan_amnt'),
 (0.012879429263832887, 'all_util'),
 (0.012660236513082953, 'total_bal_ex_mort'),
 (0.01237941668140317, 'issue_d_Mar-2019'),
 (0.012303202091248236, 'bc_open_to_buy'),
 (0.012169026173095324, 'total_bal_il'),
 (0.01209975666739387, 'total_il_high_credit_limit'),
 (0.012080181637595106, 'mths_since_recent_bc'),
 (0.01199556065746669, 'mo_sin_old_il_acct'),
 (0.011404425246702325, 'mths_since_rcnt_il'),
 (0.010932049428973856, 'inq_last_12m'),
 (0.010881788431255828, 'num_rev_accts'),
 (0.010715432303843322, 'total_rev_hi_lim'),
 (0.010468606551107892, 'total_acc'),
 (0.010017949027194955, 'open_acc'),
 (0.009874341137086302, 'num_actv_rev_tl'),
 (0.009498379004472549, 'total_cu_tl'),
 (0.009100493285450376, 'mo_sin_rcnt_rev_tl_op'),
 (0.009047352432489109, 'mo_sin_rcnt_tl'),
 (0.008964106730093296, 'num_il_tl'),
 (0.008723705919088482, 'num_op_rev_tl'),
 (0.008255306272904285, 'num_actv_bc_tl'),
 (0.008104471012786076, 'num_bc_sats'),
 (0.007970865797266325, 'num_sats'),
 (0.00774183011019435, 'acc_open_past_24mths'),
 (0.007732374993800439, 'num_tl_op_past_12m'),
 (0.0073688096073390545, 'pct_tl_nvr_dlq'),
 (0.007221009875305122, 'open_act_il'),
 (0.007179505025886921, 'num_rev_tl_bal_gt_0'),
 (0.007135251173933502, 'mort_acc'),
 (0.006984562920466658, 'num_bc_tl'),
 (0.00650399234353768, 'open_il_24m'),
 (0.006135882920333717, 'percent_bc_gt_75'),
 (0.005167972351022501, 'total_rec_late_fee'),
 (0.005162332471058333, 'open_acc_6m'),
 (0.0051042171194592085, 'open_il_12m'),
 (0.004987953452469955, 'open_rv_24m'),
 (0.004938053812449165, 'inq_fi'),
 (0.004765137984347149, 'inq_last_6mths'),
 (0.003461230580142148, 'open_rv_12m'),
 (0.0029652145497967106, 'next_pymnt_d_May-2019'),
 (0.002935840857976709, 'delinq_2yrs'),
 (0.0028533775359237956, 'num_accts_ever_120_pd'),
 (0.0027005577685376265, 'application_type_Joint App'),
 (0.0026889984701502674, 'tot_coll_amt'),
 (0.0021716812883856487, 'verification_status_Verified'),
 (0.0019184203714863275, 'home_ownership_MORTGAGE'),
 (0.0019019863466120518, 'home_ownership_OWN'),
 (0.0016829792138755057, 'verification_status_Source Verified'),
 (0.0016054411771549578, 'pub_rec'),
 (0.001566696028740402, 'pub_rec_bankruptcies'),
 (0.0015347586070784517, 'home_ownership_RENT'),
 (0.0010527959070002451, 'initial_list_status_w'),
 (0.0006098903871734477, 'num_tl_90g_dpd_24m'),
 (0.0005158840718607699, 'collections_12_mths_ex_med'),
 (0.00033118555320792853, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

In [18]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [19]:
# Calculated the balanced accuracy score
y_predictions = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_predictions)

0.9263912558266958

In [20]:
# Display the confusion matrix
confusion_matrix(y_test, y_predictions)

array([[   79,     8],
       [  946, 16172]], dtype=int64)

In [21]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.08      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205

In [ ]:
#Final Questions
#Which model had the best balanced accuracy score?
#Ensemble Classifier.
#Which model had the best recall score?
#Ensemble Classifier.
#Which model had the best geometric mean score?
#Ensemble Classifier.
#What are the top three features?
#total_rec_prncp, total_rec_int, total_pymnt_inv